<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>一問一答Webアプリ</title>
    <!-- animate css↓ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- bootstrap↓ -->
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- ↓css↓ -->
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>

    <div class="img"></div>
    <div class="gradation"></div>
    <div class="yield"><%= yield %></div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src='/js/bootstrap.bundle.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
    <!-- <script src="/js/custom.js"></script> -->
</body>

</html>