<div class="card">
  <div class="card-header">一問一答アプリ　練習問題</div>

  <div class="card-body">
    <h4 class="card-title">問題<%= @question_id %></h4>
    <p class="card-text"><%= @question %></p>
  </div>

  <form action="/answer/<%= @question_id %>" method="post">
    <div class="input-group">
      <input type="text" name="answer" class="form-control" placeholder="" aria-label=""
        aria-describedby="basic-addon1">
      <button type="submit" class="btn btn-success" id="check">⇒</button>
    </div>
  </form>
  <br>

</div>